	* {
	    box-sizing: border-box;
	}

	html, body {
	    padding: 0;
	    margin: 0;
		background-color: #16063A;
	}

	/* START SCREEN CSS
  -----------------------------*/

	.starting-element-container {
	    position: absolute;
	    width: 100vw;
	    height: 100vh;
	    background-color: #452F74;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	}

	.starting-element {
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    flex-direction: column;
	    color: white;
	}

	.starting-element>h1 {
	    text-transform: capitalize;
	    text-align: center;
	    margin: 5vh 0;
	}

	.start-button {
	    border: 1 px solid white;
	    background: transparent;
	    color: white;
	    padding: 5px 15px;
	    line-height: 0;
	    transition: all 0.5s ease-in-out;
	}

	.start-button:hover, .start-button:focus {
	    transform: scale(1.1);
	}

	.invader-pic {
	    width: 100px;
	    height: auto;
	    animation-name: jump-alien;
	    animation-duration: .7s;
	    animation-timing-function: ease-out;
	    animation-iteration-count: infinite;
	}

	@keyframes jump-alien {
	    0% {
	        transform: translate();
	    }
	    50% {
	        transform: translateY(-5vh);
	    }
	}

	/* GENERAL CSS
  -----------------------------*/

	.wrapper {
	    display: flex;
	    justify-content: center;
	    align-content: center;
	    flex-wrap: nowrap;
	    height: 100vh;
	    width: 100vw;
	    margin: 0 auto;
	}

	/* LEADERBOARD SECTION
  -----------------------------*/

	.leaderboard-container {
	    font-family: 'Press Start 2P', "Lato", sans-serif;
	    width: 25vw;
	    height: 100vh;
	    background-color: #452F74;
	    text-align: center;
	    color: white;
	}

	.leaderboard-title {
	    height: 7vh;
	    display: flex;
	    text-align: center;
	    align-items: center;
	}

	.leaderboard-container>.leaderboard-title>h2 {
	    font-style: italic;
	    width: 25vw;
	    font-size: 2vw;
	}

	.leaderboard {
	    font-size: 1.3vw;
	    width: 100%;
	    height: 93vh;
	    overflow-y: auto;
	    overflow-x: hidden;
	    display: flex;
	    flex-direction: column;
	    text-align: center;
	}

	.leaderboard-score {
	    margin: 2px 0 10px 0;
	}

	.leaderboard-score-after {
	    width: 25vw;
	    height: 2px;
	    background-color: white;
	    content: "";
	    margin-bottom: 10px;
	}

	/* GAME AREA
  -----------------------------*/

	.play-container {
	    width: 50vw;
	    background-color: #16063A;
	    overflow: hidden;
	}

	.alien {
	    position: absolute;
	    width: 4vw;
	    height: 4vw;
	    opacity: 0;
	}

	.visible {
	    animation: fadeInFromNone 1s ease forwards;
	}

	@keyframes fadeInFromNone {
	    0% {
	        opacity: 0;
	    }
	    100% {
	        opacity: 1;
	    }
	}

	/* INFO SECTION
  -----------------------------*/

	.info-container {
	    font-family: 'Press Start 2P', "Lato", sans-serif;
	    width: 25vw;
	    background-color: #452F74;
	    justify-content: center;
	    align-content: center;
	    text-align: center;
	    color: white;
	}

	.info-title {
	    height: 7vh;
	    display: flex;
	    text-align: center;
	    align-items: center;
	}

	.info-container img {
	    width: 25vw;
	    height: 32vh;
	}

	.info-container>.info-title>h2 {
	    font-style: italic;
	    width: 25vw;
	    font-size: 2vw;
	}

	.stats-list {
	    font-size: 2vw;
	    width: 100%;
	    height: 93vh;
	    display: flex;
	    flex-direction: column;
	    text-align: center;
	}

	.level-box {
	    display: flex;
	    flex-direction: column;
	    justify-content: space-around;
	    height: 51vh;
	}

	.score-box {
	    padding: 3vh 0;
	    display: flex;
	    flex-direction: column;
	    justify-content: space-around;
	    height: 21vh;
	}

	.scaleAnimation {
	    animation: scale 0.1s ease backwards;
	}

	@keyframes scale {
	    0% {
	        transform: scale(1);
	    }
	    100% {
	        transform: scale(1.15);
	    }
	}

	.clock-box {
	    padding: 3vh 0 0 0;
	    display: flex;
	    flex-direction: column;
	    justify-content: space-around;
	    height: 21vh;
	}

	.clock {
	    text-shadow: 2px 0px #E7AFD3;
	}

	b {
	    font-weight: normal;
	    text-shadow: 2px 0px #E7AFD3;
	}

	i {
	    font-style: normal;
	    font-weight: bold;
	    color: #A43741;
	    text-shadow: 2px 0px #220003;
	}

	.level {
	    width: 25vw;
	    font-size: 1.5vw;
	    line-height: 2vw;
	    text-shadow: 2px 0px #1F1959;
	    margin: 5vh 0 0 0;
	}

	/* END OF THE GAME
  -----------------------------*/

	.endtext {
	    font-family: 'Press Start 2P', "Lato", sans-serif;
	    color: white;
	    position: absolute;
	    max-width: 350px;
	    left: calc(50% - 10.9rem);
	    line-height: 2rem;
	    top: 40%;
	    font-size: 1.3rem;
	    text-align: center;
	}

	.endbutton {
	    font-family: 'Press Start 2P', "Lato", sans-serif;
	    font-size: 1rem;
	    border: 0;
	    background: #452F74;
	    color: white;
	    margin: 20px;
	    padding: 10px;
	}

	.endbutton:hover {
	    transform: scale(1.05);
	    text-shadow: 2px 0px #220003;
	}

	/* MOBILE CHANGES
  -----------------------------*/

	@media only screen and (max-width: 600px) {
		body {
			overflow: hidden;
		}

	    .wrapper {
	        flex-direction: column;
			height: 100vh;
		    width: 100vw;
			overflow-x: hidden;
	    }

        /* INFO SECTION */

	    .info-container {
	        height: 15%;
	        width: 100vw;
	        flex-direction: row;
	        justify-content: center;
	        align-content: center;
	        text-align: center;
	        color: white;
	    }

        .info-title {
            display: none;
        }

        .stats-list {
            font-size: 2vh;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            text-align: center;
        }

        .level-box {
            height: 100%;
            width: 40vw;
            padding: 0;
        }

        .score-box {
            padding: 0;
            line-height: 1.5;
            order: -1;
            height: 100%;
            width: 30vw;
        }

        .clock-box {
            padding: 0;
            height: 100%;
            width: 30vw;
        }

        .level {
            width: 100%;
            font-size: 1.5vh;
            line-height: inherit;
            margin: 0;
        }

        .level p {
            padding: 0;
            margin: 0;
        }

        /* Highscore SECTION */

	    .leaderboard-container {
	        display: none;
	    }

        /* GAME SECTION */

	    .play-container {
	        height: 85%;
	        width: 100vw;
	        background-color: #16063A;
	        overflow: hidden;
	    }

        .alien {
            width: 8vw;
            height: 8vw;
        }
	}
